body {
font-family: Garamond;
font-size: 12pt;
margin: 20px;
background-color: #c2d6f7;
color: #4c4646; 
}
/* Heading Styles */
h1 {
font-size: 30pt;
color: #d81e1e; 
}

h2 {
font-size: 22pt;
color: #010769; 
}

h3 {
font-size: 16pt;
color: #1a66b2; 
}

/* Paragraph Styles */
p {
font-size: 12pt;
color: #555; 
}

/* Link Styles */
a {
color: #0007cc; 
text-decoration: none;
}

a:hover {
columns: red; 
text-decoration: underline;
}

a:visited {
color: #5a268e; 
}

a:active {
color: #023f0f;
}

.table,
    th,
    td{
        border: 3px solid black;
    } 

nav{
    background-color: #c8c8c8;
    height: 88px;
    width: 100%
}

nav ul{
    float: right;
    margin-right: 20px; 
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0;
}

/* Dropdown Button */
.dropbtn {
    font-size: 12px;
    }
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
    position: relative;
    float: right;
    display: inline-block;
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    }
    /* Links inside the dropdown */
    .dropdown-content a {
    display: block; /*block display allows vertical item alignment*/
    }
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks
    on the dropdown button) */
    .show {display:block;}

    
    #contact-form {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #f8f8f8;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
    }
    
    input, textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    
    textarea {
        resize: vertical; /* Allow vertical resizing of textarea */
    }
    
    fieldset {
        margin-bottom: 15px;
    }
    
    .form-buttons {
        text-align: right;
    }
    
    button {
        padding: 10px 15px;
        margin-left: 10px;
        cursor: pointer;
        background-color: #0066cc;
        color: #fff;
        border: none;
        border-radius: 5px;
    }
    
    button:hover {
        background-color: #004080;
    }
    
    /* Add more styles based on your design preferences */