body {
font-family: Arial, sans-serif;
font-size: 12pt;
margin: 20px;
background-color: #a9a9a9e4;
color: #4c4646; 
}
/* Heading Styles */
h1 {
font-size: 24pt;
color: #0066cc; /* H1 color */
}

h2 {
font-size: 18pt;
color: #990000; /* H2 color */
}

h3 {
font-size: 16pt;
color: #336600; /* H3 color */
}

/* Paragraph Styles */
p {
font-size: 12pt;
color: #555; /* Paragraph color */
}

/* Link Styles */
a {
color: #cc0000; /* Link color */
text-decoration: none;
}

a:hover {
text-decoration: underline;
color: #f96b0cda; /* Hover color */
}

a:visited {
color: #623193; /* Visited link color */
}

a:active {
color: #990000; /* Active link color */
}

.link {
    float: inline-start;
    border: 1px solid #000;
}

.text {
    float: right;
    border: 1px solid #000;
}