body {
font-family: Arial;
font-size: 12pt;
margin: 20px;
background-color: #cccccc;
color: #4c4646; 
}
/* Heading Styles */
h1 {
font-size: 30pt;
color: #d81e1e; 
}

h2 {
font-size: 22pt;
color: #010769; 
}

h3 {
font-size: 16pt;
color: #1a66b2; 
}

/* Paragraph Styles */
p {
font-size: 12pt;
color: #555; 
}

/* Link Styles */
a {
color: #0007cc; 
text-decoration: none;
}

a:hover {
    color: #023f0f;
}


a:visited {
color: #5a268e; 
}

a:active {
color: #023f0f;
}

.table,
    th,
    td{
        border: 3px solid black;
    }   